.ContactForm {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 75%;
  margin: auto;
}

.ContactForm__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.ContactForm__line {
  width: 100%;
  margin-top: 10px;
  font-size: 1.6rem;
}

.ContactFrom__email {
  display: flex;
  flex-direction: column;
}

.ContactForm__emailLabel {
  text-align: left;
  margin-bottom: 8px;

}

.ContactForm__emailInput {
  margin-left: 10px;
  min-width: 200px;
  padding: 8px;
  margin-bottom: 8px;
  font-size: 1.6rem;
}

.ContactFrom__address {
  display: flex;
  flex-direction: column;
}

.ContactForm__addressLabel {
  text-align: left;
  margin-bottom: 8px;
}

.ContactForm__addressInput {
  margin-left: 10px;
  min-width: 200px;
  padding: 8px;
  margin-bottom: 8px;
  font-size: 1.6rem;
}

.ContactForm__criteriasTitle {
  display: flex;
  justify-content: space-between;
}

.ContactForm__criterias {
  width: 100%;
  padding: 0;
  font-size: 1.4rem;
}

.ContactForm__validation {
  margin-bottom: 200px;
}

.ContactForm__validationButton {
  background: #ffce33;
  font-size: 1.7rem;
  border: none;
  padding: 16px;
  font-weight: bold;
  padding: 16px 64px;
  cursor: pointer;
}

.ContactForm__criteria {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 8px 0;
  justify-content: space-between;
}
.ContactForm__line > span {
  flex: 1;
}

.ContactForm__tag {
  position: relative;
  display: inline-block;
  background-color: #e6e6ec;
  padding: 4px 8px;
  color: #777f91;
  border-radius: 8px;
  text-transform: uppercase;
  line-height: 1.4;
  flex: 1;
  margin-right: 10px;
}

.ContactForm__star {
  flex: 1;
}
