.ResultPage__list {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    justify-content: space-between;
}

.ResultPage__listItem {
    padding: 8px;
    width: 33%;
}

.ResultPage__tag {
  position: relative;
  display: inline-block;
  background-color: palette(neutral, light);
  color: palette(neutral, darker);
  border-radius: 16px;
  text-transform: uppercase;
  line-height: 1.4;
}
